<div id="info-popup">
  <div class="popup-header">
    <span class="popup-name" id="popup-name"></span>
    <button class="popup-close" onclick="closePopup()">×</button>
  </div>
  <span class="popup-tag" id="popup-tag"></span>
  <div class="popup-addr" id="popup-addr"></div>
  <div class="popup-memo" id="popup-memo"></div>
  <div class="popup-actions">
    <button class="popup-edit"   id="popup-edit"   onclick="openEditForm(currentPopupId)">수정</button>
    <button class="popup-delete" id="popup-delete" onclick="deleteCurrentStore()">삭제</button>
  </div>
</div>
