<div id="store-list-view">
  <div class="list-filter">
    <button class="filter-pill active" data-cat="all"     onclick="filterList('all')">전체</button>
    <button class="filter-pill"        data-cat="clothes" onclick="filterList('clothes')">👗 옷</button>
    <button class="filter-pill"        data-cat="shoes"   onclick="filterList('shoes')">👟 신발</button>
    <button class="filter-pill"        data-cat="goods"   onclick="filterList('goods')">🎒 잡화</button>
    <button class="filter-pill"        data-cat="snack"   onclick="filterList('snack')">🍪 간식</button>
  </div>
  <ul id="store-list-ul"></ul>
</div>
